body{
    font-family: 'Poppins', sans-serif;
    max-width: 1280px;
    margin:0 auto;
    background-color: #5e5b5bad;
    color: #333333;
}

body.mode-escuro{
    background-color: #212121;
    color: #f5f5f5;
}

header{
    display: flex;
    justify-content: space-between;
    padding: 25px;

}

header .logo,
header .imagem-botao{
    width: 30px;
    transition: 0.2s ease-in-out;
}

header #botao-alterar-tema{
    background: none;
    border: none;
}

header .logo:hover,
header .imagem-botao:hover,
main .card:hover{
    transform: scale(1.05);
    cursor: pointer;
}

main{
    padding: 25px;
}

main .listagem-pokemon{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
}

main .card{
    background-color: #d8e3ec;
    width: 200px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    border-radius: 15px;
    transition: 0.2s ease-in-out;
}

main .card:hover{
    background-color: #96d9d6;
}

.dark-mode .card{
    background-color: #a8a8a8;
}

main .card .info{
    display: flex;
    justify-content: space-between;
    border: 1px solid #333333;
    border-radius: 10px;
}

main .card .info span{
    padding: 5px;
    text-transform: uppercase;
    font-size: 17px;
}

main .card .gif{
    width: 90px;
    height: 90px;
}

main .card .tipos{
    display: flex;
    gap: 15px;
    
}

main .card .tipo{
    padding: 8px;
    border-radius: 10px;
}

.grama{
    background-color: #7ac74c;
}

.veneno{
    background-color: #df67ddfb;
}

main .descricao{
    max-height: 80px;
    overflow: scroll;
    font-size: 14;
    padding-right: 10px;
}

